<div class="users-usersRead">
    <div class="page-header row">
        <div class="col-md-7">
            <h2>
                Users usersRead <small>usersReadController</small>
            </h2>
        </div>
        <div class="col-md-4">
            <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <input type="text" class="form-control" name="search" placeholder="search" ng-model="user.name">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
        <div class="col-md-1">
            <a class="btn btn-submit" href="#/users/create">CREATE</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4" data-ng-repeat="user in usersRead.users | filter:user as results">
            <div class="thumbnail">
                <h1>{{user.name}}</h1>
                <img style="border-radius: 40%;" data-ng-src="https://api.adorable.io/avatars/285/{{user._id}}.png" alt="placeholder">
                <div class="col-sm-12 col-md-12">
                    <h2>Pokemons</h2>
                    <div class="col-sm-4 col-md-4">
                        {{user.auth.pokemon}}
                        <img style="width:100%; height: 100px;" data-ng-src="https://img.pokemondb.net/artwork/{{user.auth.pokemon.toLowerCase()}}.jpg" alt="placeholder">
                    </div>
                </div>
                <div class="col-12" style="margin-top: 14em;">
                    <p><a href="#" class="btn btn-primary" style="width:100%;" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
